# Secrets
.env
service-account.json

# Python
__pycache__/
*.pyc

# Data
spo_data/


# Python Caches & Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/
env/